@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside, section {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  min-width: 320;
  position: relative;
  color: #000;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Georgia";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  --nav-vertical-size: 180px;
}

input, button, textarea {
  font-family: "Georgia";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  width: 1200px;
  min-height: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

.header {
  height: var(--nav-vertical-size);
  background: url("../../../img/not-only-block/not-only-background.png") no-repeat top;
  padding: 60px 0px 60px 0px;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-logo__title {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin: 0px 0px 10px 0px;
}

.header-logo__text {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  padding: 0px 0px 0px 4px;
}

.header-nav {
  padding: 16px 0px 0px 0px;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav__item {
  margin: 0px 35px 0px 0px;
}
.header-nav__item:last-child {
  margin: 0px 0px 0px 0px;
}

.header-nav__link {
  padding: 0px 0px 4px 0px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #CDCDCD;
  cursor: pointer;
}
.header-nav__link:hover {
  color: #FAFAFA;
}
.header-nav__link.active {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
}

.not-only {
  min-height: calc(100vh - var(--nav-vertical-size));
  background: url("../../../img/not-only-block/not-only-background.png") no-repeat center;
  background-position: center calc(-1 * var(--nav-vertical-size));
  margin: 0px 0px 80px 0px;
}

.not-only__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.not-only-hero {
  padding: 163px 0px 0px 0px;
  max-width: 460px;
}

.not-only-hero__title {
  max-width: 310px;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #FFFFFF;
  margin: 0px 0px 42px 0px;
}

.not-only-hero__text {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  margin: 0px 0px 56px 0px;
}

.not-only-hero__button {
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  background-color: #F1CDB3;
  padding: 16px 45px;
  border-radius: 50px;
}
.not-only-hero__button:hover {
  background-color: #FDDCC4;
}

.not-only-picture {
  margin: 0px 0px 0px 42px;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 915px;
}