//<МИКСИНЫ>
@mixin flexbox(){display: -webkit-box;display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; font-size: 0;}
@mixin anim($time, $delay){-webkit-transition: all $time ease $delay; -moz-transition: all $time ease $delay; -ms-transition: all $time ease $delay; -o-transition: all $time ease $delay; transition: all $time ease $delay;}
@mixin scale($num) {-moz-transform: scale($num); -ms-transform: scale($num); -webkit-transform: scale($num); -o-transform: scale($num); transform: scale($num);}
@mixin rotate($deg) {-moz-transform: rotate($deg); -ms-transform: rotate($deg); -webkit-transform: rotate($deg); -o-transform: rotate($deg); transform: rotate($deg);}
//</МИКСИНЫ>

//<ШРИФТЫ>
//<Шрифт по умолчанию>
$fontfamily: "Georgia";
//</Шрифт по умолчанию>
//</ШРИФТЫ>

//<ПЕРЕМЕННЫЕ>
$minwidth: 320;
$mw: 1280;
$md1: 1200;
$md2: 850;
$md3: 479.98;
//</ПЕРЕМЕННЫЕ>

//<ОБНУЛЕНИЕ ОБЩИЕ ПАРАМЕТРЫ>
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside,section{display: block;}
html,body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	min-width: $minwidth;
	position: relative;
	color: #000;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	scroll-behavior: smooth;
	font-family: $fontfamily;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	--nav-vertical-size: 180px;
}
input,button,textarea{font-family: $fontfamily;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
//</ОБНУЛЕНИЕ ОБЩИЕ ПАРАМЕТРЫ>

//<ОБОЛОЧКА>
.wrapper {
	width: $md1+px;
	min-height: 100%;
	overflow: hidden;
	margin: 0 auto;
}
//</ОБОЛОЧКА>

//<ОСНОВНАЯ СЕТКА>
.container {
	// max-width: $mw+px;
	// margin: 0 auto;
	// width: 100%;
	// @media (max-width:$md2+px) {max-width: 750px;}
	// @media (max-width:$md3+px) {max-width: none; padding: 0 10px;}
}
//</ОСНОВНАЯ СЕТКА>

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>
@import "header.scss";
@import "footer.scss";
// @import "forms.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>

//<ОСНОВНОЙ БЛОК>

//<NOT ONLY>
.not-only {
	min-height: calc(100vh - var(--nav-vertical-size));
  	background: url("../../img/not-only-block/not-only-background.png") no-repeat center;
  	background-position: center calc(-1 * var(--nav-vertical-size));
	background-size: 100%;
}
.not-only__wrapper {
	display: flex;
}
.not-only-hero {
	padding: 163px 0px 0px 0px;
	max-width: 460px;
}
.not-only-hero__title {
	max-width: 310px;
	font-weight: 400;
	font-size: 44px;
	line-height: 130%;
	color: #FFFFFF;
	margin: 0px 0px 42px 0px;
}
.not-only-hero__text {
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	color: #CDCDCD;
	margin: 0px 0px 56px 0px;
}
.not-only-hero__button {
}
.button {
	cursor: pointer;
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: #292929;
	background-color: #F1CDB3;
	padding: 16px 45px;
	border-radius: 50px;
	transition: .3s;
	&:hover {
		background-color: #FDDCC4;
	}
}
.not-only-picture {
	margin: 0px 0px 0px 42px;
}
.not-only__img{
}
//</NOT ONLY>

//<ABOUT>
.about {
	padding: 80px 0px 100px;
}
.about__wrapper {
	display: flex;
	width: $md2+px;
}
.about-picture {
	padding: 0px 120px 0px 0px;
}
.about__img {
}
.about-description {
	padding: 13px 0px 0px 0px;
}
.about__title {
	max-width: 370px;
	margin: 0px 0px 24px 0px;
}
.section__title {
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: #545454;
}
.about__text {
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	color: #4C4C4C;
	margin: 0px 0px 25px 0px;
	&:last-child {
		margin: 0px 0px 0px 0px;
	}
}
//</ABOUT>

//<OUR FRIENDS>
.our-friends {
	background-color: #F6F6F6;
}
.wrapper {
}
.our-friends-wrapper {
	padding: 78px 0px 115px 0px;
}
.our-friends__title {
	padding: 0px 0px 60px 0px;
	margin: 0 auto;
	text-align: center;
}
.our-friends__cards {
	position: relative;
}
.arrow-container {
	position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    width: $md1+px;
	top: calc(50% - 25px);
}
.arrow {
	display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    background-color: #F6F6F6;
    border-radius: 50%;
    border: 2px solid #F1CDB3;
    cursor: pointer;
	transition: .3s;
	&:hover {
		background-color: #F1CDB3;
	}
}
.arrow-prev {
	pointer-events: none;
}
.arrow-next {
}
.cards-wrapper {
	display: flex;
	justify-content: space-between;
	margin: 0 105px;
}
.our-friends-card {
	background-color: #FAFAFA;
	border-radius: 9px;
	cursor: pointer;
	transition: .3s;
	&:hover {
		background-color: #FFFFFF;
		box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
		.card-btn {
			background-color: #F1CDB3;
		}
	}
}
.our-friends-card__picture {
	margin: 0px 0px 28px 0px;
}
.our-friends-card__title {
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.06em;
	color: #545454;
	padding: 0px 0px 45px 0px;
}
.our-friends-card__button {
	text-align: center;
	margin: 0px 0px 45px 0px;
}
.card-btn {
	font-size: 17px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: #292929;
	padding: 15px 42px;
	border: 2px solid #F1CDB3;
	border-radius: 100px;
	transition: .3s;
	&:hover {
		background-color: #F1CDB3;
	}
}
.our-friends__button {
	margin: 75px 0px 0px 0px;
	text-align: center;
}
.button {
}
//</OUR FRIENDS>

//<HELP>
.help {
}
.wrapper {
}
.help-wrapper {
	padding: 80px 0px 45px 0px;
}
.help__title {
	text-align: center;
	margin: 0px 0px 60px 0px;
}
.help-cards {
	max-width: 1026px;
	margin: 0 auto;
}
.first-row {
	display: flex;
	justify-content: space-between;
}
.second-row {
	display: flex;
	justify-content: space-around;
	margin: 0px 23px;
}
.help-item {
	margin: 0px 0px 55px 0px;
	display: flex;
	flex-direction: column;
}
.help-pic {
	text-align: center;
	margin: 0px 0px 30px 0px;
	flex: 1 1 100%;
}
.help__img {
}
.help-item__text {
	font-size: 20px;
	line-height: 115%;
	text-align: center;
	letter-spacing: 0.06em;
	color: #545454;
}
//</HELP>

//<IN ADDITION>
.in-addition {
	background-color: #F6F6F6;
}
.wrapper {
}
.in-addition-wrapper {
	width: 915px;
	display: flex;
	padding: 80px 0px 100px 0px;
}
.in-addition-pic {
	margin: 12px 30px 0px 0px;
}
.in-addition__img {
}
.description {
}
.in-addition__title {
	max-width: 300px;
	margin: 0px 0px 20px 0px;
}
.in-addition__bank-name {
	font-size: 15px;
	line-height: 110%;
	letter-spacing: 0.06em;
	color: #545454;
	margin: 0px 0px 20px 0px;
}
.in-addition__card-number {
	max-width: 350px;
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
	background: #F1CDB3;
	border-radius: 9px;
	padding: 10px 15px 10px 60px;
	background: url("../../img/in-addition/icons/01.svg") no-repeat 15px center #F1CDB3;
	margin: 0px 0px 20px 0px;
	cursor: pointer;
	transition: .3s;
	&:hover {
		background-color: #FDDCC4;
	}
}
.in-addition__card-number--digits{
	color: #545454;
}
.in-addition__legal-info {
	max-width: 380px;
	font-family: 'Arial';
	font-size: 12px;
	font-style: italic;
	line-height: 18px;
	color: #B2B2B2;
}
//</IN ADDITION>
//===================================================
//</ОСНОВНОЙ БЛОК>




